.58_73 { 
	overflow:hidden;
}.e58_73 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e58_102 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:39px;
	position:absolute;
	left:9px;
	top:85px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e58_109 { 
	transform: rotate(-0.29157904169936427deg);
	width:393.0050964355469px;
	height:0px;
	position:absolute;
	left:0px;
	top:171px;
}.58_109 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e58_110 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:19px;
	position:absolute;
	left:9px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e58_113 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:41px;
	position:absolute;
	left:242px;
	top:127px;
}.e58_115 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:258px;
	top:136px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e58_131 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:35px;
	position:absolute;
	left:6px;
	top:701px;
}.e58_132 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:139px;
	height:22px;
	position:absolute;
	left:15px;
	top:708px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e62_81 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-3px;
	top:781px;
}.e62_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e62_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.62_83 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_84 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.62_84 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_85 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.62_85 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.62_88 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.62_89 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.62_90 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_275 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_276 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_277 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_278 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_279 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_239 { 
	width:43px;
	height:35px;
	position:absolute;
	left:344px;
	top:701px;
	background-image:url(images/send_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}