.87_385 { 
	overflow:hidden;
}.e87_385 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e87_386 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e87_387 { 
	transform: rotate(137.12109729043257deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:25px;
	top:8px;
}.87_387 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_388 { 
	transform: rotate(-140.64406727901456deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:26.38616943359375px;
	top:33.55755615234375px;
}.87_388 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_389 { 
	transform: rotate(88.60281901694093deg);
	width:41.01219177246094px;
	height:0px;
	position:absolute;
	left:34px;
	top:0px;
}.87_389 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_390 { 
	color:rgba(0, 0, 0, 1);
	width:301px;
	height:34px;
	position:absolute;
	left:53px;
	top:4px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e87_396 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}.e87_397 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e87_398 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.87_398 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_399 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.87_399 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_400 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.87_400 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_403 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.87_403 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_404 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.87_404 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_405 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.87_405 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_409 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_410 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_411 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_412 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_413 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_414 { 
	width:120px;
	height:30px;
	position:absolute;
	left:137px;
	top:700px;
}.e87_415 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e87_416 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:29px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_417 { 
	background-color:rgba(255, 255, 255, 1);
	width:367px;
	height:150px;
	position:absolute;
	left:13px;
	top:510px;
}.e87_418 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:50px;
	position:absolute;
	left:91px;
	top:401px;
}.e87_419 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:24px;
	position:absolute;
	left:61px;
	top:80px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_420 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:24px;
	position:absolute;
	left:22px;
	top:480px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_421 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:24px;
	position:absolute;
	left:26px;
	top:414px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_425 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:24px;
	position:absolute;
	left:180px;
	top:414px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_422 { 
	width:350px;
	height:265.2235412597656px;
	position:absolute;
	left:22px;
	top:120px;
	background-image:url(images/november_2022_calendar_b12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_423 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0.6000000238418579);
	width:48px;
	height:40px;
	position:absolute;
	left:26px;
	top:302px;
}