.83_71 { 
	overflow:hidden;
}.e83_71 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e83_72 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:325px;
	top:222px;
}.e83_74 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:41px;
	position:absolute;
	left:338px;
	top:194px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_76 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:39px;
	position:absolute;
	left:9px;
	top:85px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e83_77 { 
	transform: rotate(-0.29157904169936427deg);
	width:393.0050964355469px;
	height:0px;
	position:absolute;
	left:0px;
	top:171px;
}.83_77 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_78 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:19px;
	position:absolute;
	left:9px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e83_79 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:41px;
	position:absolute;
	left:242px;
	top:127px;
}.e83_80 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:258px;
	top:136px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e83_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:110px;
	height:34px;
	position:absolute;
	left:205px;
	top:235px;
}.e83_84 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:22px;
	position:absolute;
	left:265px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_85 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:35px;
	position:absolute;
	left:6px;
	top:701px;
}.e83_86 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:139px;
	height:22px;
	position:absolute;
	left:15px;
	top:708px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_87 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-3px;
	top:781px;
}.e83_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e83_89 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.83_89 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.83_90 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_91 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.83_91 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.83_94 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_95 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.83_95 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.83_96 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_100 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_101 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_102 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_103 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_104 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_105 { 
	width:43px;
	height:35px;
	position:absolute;
	left:344px;
	top:701px;
	background-image:url(images/send_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}