.37_6 { 
	overflow:hidden;
}
.e37_6 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e57_58 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}
.e57_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}
.e57_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}
.57_60 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.57_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}
.57_62 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}
.57_65 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}
.57_66 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_67 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}
.57_67 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_260 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_261 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_262 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_263 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_264 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_40 { 
	width:350px;
	height:265.2235412597656px;
	position:absolute;
	left:21px;
	top:85px;
	background-image:url(images/november_2022_calendar_b12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_46 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0.6000000238418579);
	width:48px;
	height:40px;
	position:absolute;
	/*left:270px;
	top:227px;*/
	left:27px;
	top:267px;
}
.e88_72 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:267px;
}
.e88_77 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:122px;
	top:147px;
}
.e88_78 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:172px;
	top:147px;
}
.e88_79 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:222px;
	top:147px;
}
.e88_80 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:270px;
	top:147px;
}
.e88_81 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:320px;
	top:147px;
}
.e88_82 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:187px;
}
.e88_83 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:74px;
	top:187px;
}
.e88_84 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:187px;
}
.e88_85 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:172px;
	top:187px;
}
.e88_86 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:220px;
	top:187px;
}
.e88_87 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:268px;
	top:187px;
}
.e88_88 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:318px;
	top:187px;
}
.e88_89 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:26px;
	top:227px;
}
.e88_90 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:73px;
	top:227px;
}
.e88_91 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:227px;
}
.e88_92 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:171px;
	top:227px;
}
.e88_93 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:222px;
	top:227px;
}
.e88_104 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:273px;
	top:227px;
}
.e88_94 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:318px;
	top:227px;
}
.e88_105 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:27px;
	top:267px;
}
.e88_95 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:75px;
	top:267px;
}
.e88_96 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:267px;
}
.e88_97 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:171px;
	top:266px;
}
.e88_98 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:221px;
	top:266px;
}
.e88_99 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:270px;
	top:267px;
}
.e88_100 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:320px;
	top:267px;
}
.e88_101 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:307px;
}
.e88_102 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:75px;
	top:307px;
}
.e88_103 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:307px;
}
.88_43 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e88_43 { 
	width:393px;
	height:0px;
	position:absolute;
	left:0px;
	top:410px;
}
.e88_44 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:25px;
	position:absolute;
	left:87px;
	top:385px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e88_45 { 
	color:rgba(0, 0, 0, 1);
	width:391px;
	height:355px;
	position:absolute;
	left:0px;
	top:414px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}

/*.88_110 { 
	overflow:hidden;
}
.e88_110 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e88_111 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}
.e88_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}
.e88_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}
.88_113 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_114 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.88_114 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_115 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}
.88_115 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_118 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}
.88_118 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_119 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}
.88_119 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_120 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}
.88_120 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e88_124 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_125 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_126 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_127 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_128 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_129 { 
	width:350px;
	height:265.2235412597656px;
	position:absolute;
	left:21px;
	top:85px;
	background-image:url(images/november_2022_calendar_b12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e88_131 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:267px;
}
.e88_132 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:122px;
	top:147px;
}
.e88_133 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:172px;
	top:147px;
}
.e88_134 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:222px;
	top:147px;
}
.e88_135 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:270px;
	top:147px;
}
.e88_136 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:320px;
	top:147px;
}
.e88_137 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:187px;
}
.e88_138 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:74px;
	top:187px;
}
.e88_139 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:187px;
}
.e88_140 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:172px;
	top:187px;
}
.e88_141 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:220px;
	top:187px;
}
.e88_142 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:268px;
	top:187px;
}
.e88_143 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:318px;
	top:187px;
}
.e88_144 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:26px;
	top:227px;
}
.e88_145 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:73px;
	top:227px;
}
.e88_146 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:227px;
}
.e88_147 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:171px;
	top:227px;
}
.e88_148 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:222px;
	top:227px;
}
.e88_149 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:318px;
	top:227px;
}
.e88_150 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:75px;
	top:267px;
}
.e88_151 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:267px;
}
.e88_152 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:171px;
	top:266px;
}
.e88_153 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:221px;
	top:266px;
}
.e88_154 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:270px;
	top:267px;
}
.e88_155 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:320px;
	top:267px;
}
.e88_156 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:307px;
}
.e88_157 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:75px;
	top:307px;
}
.e88_158 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0);
	width:48px;
	height:40px;
	position:absolute;
	left:123px;
	top:307px;
}
.88_160 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e88_160 { 
	width:393px;
	height:0px;
	position:absolute;
	left:0px;
	top:410px;
}
.e88_161 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:25px;
	position:absolute;
	left:87px;
	top:385px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e88_162 { 
	color:rgba(0, 0, 0, 1);
	width:391px;
	height:355px;
	position:absolute;
	left:0px;
	top:414px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e88_67 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0.6000000238418579);
	width:48px;
	height:40px;
	position:absolute;
	left:25px;
	top:267px;
}
*/