.76_33 { 
	overflow:hidden;
}.e76_33 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e76_34 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}.e76_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e76_36 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.76_36 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_37 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.76_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.76_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.76_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.76_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.76_43 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e76_47 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_48 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_49 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_50 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_51 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e76_52 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:39px;
	position:absolute;
	left:75px;
	top:70px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e76_53 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:19px;
	position:absolute;
	left:114px;
	top:120px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e76_60 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:19px;
	position:absolute;
	left:19px;
	top:280px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.76_59 { 
	border:1px solid rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
}.e76_59 { 
	width:391px;
	height:0px;
	position:absolute;
	left:0px;
	top:260px;
}.76_69 { 
	border:1px solid rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
}.e76_69 { 
	width:391px;
	height:0px;
	position:absolute;
	left:0px;
	top:360px;
}.e76_56 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:29px;
	position:absolute;
	left:19px;
	top:220px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e76_68 { 
	width:150px;
	height:31px;
	position:absolute;
	left:20px;
	top:310px;
}.e76_65 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:150px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e76_67 { 
	color:rgba(0, 0, 0, 1);
	width:100px;
	height:16px;
	position:absolute;
	left:25px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}.e76_71 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:19px;
	position:absolute;
	left:19px;
	top:371px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.76_72 { 
	border:1px solid rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
}.e76_72 { 
	width:391px;
	height:0px;
	position:absolute;
	left:0px;
	top:451px;
}.e76_73 { 
	width:150px;
	height:31px;
	position:absolute;
	left:20px;
	top:401px;
}.e76_74 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:150px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e76_75 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:16px;
	position:absolute;
	left:26px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}.e76_77 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:19px;
	position:absolute;
	left:19px;
	top:462px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.76_78 { 
	border:1px solid rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
}.e76_78 { 
	width:391px;
	height:0px;
	position:absolute;
	left:0px;
	top:542px;
}.e76_79 { 
	width:150px;
	height:31px;
	position:absolute;
	left:20px;
	top:492px;
}.e76_80 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:150px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e76_81 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:16px;
	position:absolute;
	left:22px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}