.83_213 { 
	overflow:hidden;
}.e83_213 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e83_214 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:325px;
	top:220px;
}.e83_215 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:2px;
	top:334px;
}.e83_216 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:41px;
	position:absolute;
	left:338px;
	top:192px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_217 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:41px;
	position:absolute;
	left:9px;
	top:308px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_218 { 
	color:rgba(0, 0, 0, 1);
	width:143px;
	height:39px;
	position:absolute;
	left:9px;
	top:83px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e83_219 { 
	transform: rotate(-0.29157904169936427deg);
	width:393.0050964355469px;
	height:0px;
	position:absolute;
	left:0px;
	top:169px;
}.83_219 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_220 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:19px;
	position:absolute;
	left:9px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e83_221 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:41px;
	position:absolute;
	left:242px;
	top:125px;
}.e83_222 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:260px;
	top:134px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e83_223 { 
	background-color:rgba(255, 255, 255, 1);
	width:110px;
	height:34px;
	position:absolute;
	left:205px;
	top:233px;
}.e83_224 { 
	background-color:rgba(255, 255, 255, 1);
	width:110px;
	height:34px;
	position:absolute;
	left:71px;
	top:348px;
}.e83_225 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:22px;
	position:absolute;
	left:78px;
	top:354px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_226 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:22px;
	position:absolute;
	left:265px;
	top:239px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_227 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:35px;
	position:absolute;
	left:6px;
	top:700px;
}.e83_228 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:139px;
	height:22px;
	position:absolute;
	left:15px;
	top:707px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e83_230 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}.e83_231 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e83_232 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.83_232 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_233 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.83_233 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_234 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.83_234 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_237 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.83_237 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_238 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.83_238 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_239 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.83_239 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e83_243 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_244 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_245 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_246 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_247 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e83_248 { 
	width:43px;
	height:35px;
	position:absolute;
	left:344px;
	top:700px;
	background-image:url(images/send_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}