.82_36 { 
	overflow:hidden;
}.e82_36 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e82_41 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:39px;
	position:absolute;
	left:9px;
	top:85px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e82_42 { 
	transform: rotate(-0.29157904169936427deg);
	width:393.0050964355469px;
	height:0px;
	position:absolute;
	left:0px;
	top:171px;
}.82_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_43 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:19px;
	position:absolute;
	left:9px;
	top:137px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e82_44 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:144px;
	height:41px;
	position:absolute;
	left:242px;
	top:127px;
}.e82_45 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:19px;
	position:absolute;
	left:258px;
	top:136px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e82_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:332px;
	height:35px;
	position:absolute;
	left:6px;
	top:701px;
}.e82_51 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:22px;
	position:absolute;
	left:15px;
	top:708px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e82_52 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-3px;
	top:781px;
}.e82_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e82_54 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.82_54 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.82_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_56 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.82_56 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.82_59 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.82_60 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.82_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e82_65 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_66 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_67 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_68 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_69 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e82_70 { 
	width:43px;
	height:35px;
	position:absolute;
	left:344px;
	top:701px;
	background-image:url(images/send_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}