.37_6 { 
	overflow:hidden;
}
.e37_6 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e57_58 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}
.e57_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}
.e57_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}
.57_60 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.57_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}
.57_62 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}
.57_65 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}
.57_66 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e57_67 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}
.57_67 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_260 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_261 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_262 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_263 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_264 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
