.60_334 { 
	overflow:hidden;
}
.e60_334 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e60_335 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e60_336 { 
	transform: rotate(137.12109729043257deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:25px;
	top:8px;
}
.60_336 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e60_337 { 
	transform: rotate(-140.64406727901456deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:26.38616943359375px;
	top:33.55755615234375px;
}
.60_337 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e60_338 { 
	transform: rotate(88.60281901694093deg);
	width:41.01219177246094px;
	height:0px;
	position:absolute;
	left:34px;
	top:0px;
}
.60_338 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e60_339 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:39px;
	position:absolute;
	left:95px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e60_354 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:159px;
	height:150px;
	position:absolute;
	left:117px;
	top:142px;
}
.e60_357 { 
	color:rgba(0, 0, 0, 1);
	width:297px;
	height:39px;
	position:absolute;
	left:46px;
	top:323px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e60_358 { 
	background-color:rgba(255, 255, 255, 1);
	width:367px;
	height:137px;
	position:absolute;
	left:11px;
	top:441px;
}
.e60_362 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:19px;
	position:absolute;
	left:19px;
	top:507px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e60_360 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:19px;
	position:absolute;
	left:10px;
	top:453px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e60_361 { 
	color:rgba(0, 0, 0, 1);
	width:353px;
	height:19px;
	position:absolute;
	left:20px;
	top:480px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e60_363 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:19px;
	position:absolute;
	left:0px;
	top:534px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e62_234 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:74px;
	position:absolute;
	left:136px;
	top:621px;
}
.e62_235 { 
	width:67px;
	height:56px;
	position:absolute;
	left:164px;
	top:630px;
	background-image:url(images/ok_confirm_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_242 { 
	width:67px;
	height:56px;
	position:absolute;
	left:162px;
	top:193px;
	background-image:url(images/ok_confirm_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_189 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}
.e62_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}
.e62_191 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}
.62_191 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_192 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}
.62_192 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_193 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}
.62_193 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}
.62_196 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_197 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}
.62_197 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}
.62_198 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_305 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_306 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_307 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_308 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_309 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
