.35_6 { 
	overflow:hidden;
}
.e35_6 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}
.e40_97 { 
	width:393.0000305175781px;
	height:77px;
	position:absolute;
	left:0px;
	top:260px;
}
.e40_72 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:176px;
	top:19px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_78 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:176px;
	top:43px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_75 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:240px;
	top:19px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_73 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:11px;
	position:absolute;
	left:179px;
	top:21px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_80 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:11px;
	position:absolute;
	left:179px;
	top:45px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_77 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:11px;
	position:absolute;
	left:244px;
	top:21px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_95 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:1.0000001192092896px;
}
.40_95 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_96 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:77px;
}
.40_96 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_53 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:8px;
}
.e40_54 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:37px;
	position:absolute;
	left:86px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:23px;
	position:absolute;
	left:125px;
	top:39px;
}
.e40_56 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:18px;
	position:absolute;
	left:134px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_262 { 
	width:27.600000381469727px;
	height:27.600000381469727px;
	position:absolute;
	left:358px;
	top:24px;
}
.e55_55 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:37px;
	position:absolute;
	left:86px;
	top:280px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e55_56 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:37px;
	position:absolute;
	left:86px;
	top:280px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_271 { 
	width:27.600000381469727px;
	height:27.600000381469727px;
	position:absolute;
	left:358px;
	top:361px;
}
.e40_276 { 
	width:27.600000381469727px;
	height:27.600000381469727px;
	position:absolute;
	left:358px;
	top:439px;
}
.e40_281 { 
	width:27.600000381469727px;
	height:27.600000381469727px;
	position:absolute;
	left:358px;
	top:516px;
}
.e40_286 { 
	width:27.600000381469727px;
	height:27.600000381469727px;
	position:absolute;
	left:358px;
	top:593px;
}
.e40_138 { 
	width:393.0000305175781px;
	height:69px;
	position:absolute;
	left:0px;
	top:345px;
}
.e40_139 { 
	width:16px;
	height:16px;
	position:absolute;
	left:358px;
	top:26px;
}
.e40_140 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:176px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_141 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:68px;
	height:21px;
	position:absolute;
	left:180px;
	top:35px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_142 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:65px;
	height:21px;
	position:absolute;
	left:244px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_143 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:11px;
	position:absolute;
	left:182px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_144 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:11px;
	position:absolute;
	left:179px;
	top:37px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_145 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:11px;
	position:absolute;
	left:244px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_147 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:69px;
}
.40_147 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_148 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:0px;
}
.e40_149 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:37px;
	position:absolute;
	left:86px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_150 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:23px;
	position:absolute;
	left:125px;
	top:31px;
}
.e40_151 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:127px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_229 { 
	width:393.0000305175781px;
	height:69px;
	position:absolute;
	left:0px;
	top:576px;
}
.e40_231 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:176px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_233 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:240px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_234 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:11px;
	position:absolute;
	left:183px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_236 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:11px;
	position:absolute;
	left:244px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_237 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:69px;
}
.40_237 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_238 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:0px;
}
.e40_239 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:37px;
	position:absolute;
	left:86px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_240 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:23px;
	position:absolute;
	left:125px;
	top:31px;
}
.e40_241 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:128px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_211 { 
	width:393.0000305175781px;
	height:69px;
	position:absolute;
	left:0px;
	top:499px;
}
.e40_213 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:176px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_214 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:176px;
	top:35px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_215 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:62px;
	height:21px;
	position:absolute;
	left:244px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_216 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:11px;
	position:absolute;
	left:179px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_217 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:11px;
	position:absolute;
	left:179px;
	top:37px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_218 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:11px;
	position:absolute;
	left:243px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_219 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:69px;
}
.40_219 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_220 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:0px;
}
.e40_221 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:37px;
	position:absolute;
	left:86px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_222 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:23px;
	position:absolute;
	left:125px;
	top:31px;
}
.e40_223 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:18px;
	position:absolute;
	left:127px;
	top:34px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_157 { 
	width:393.0000305175781px;
	height:69px;
	position:absolute;
	left:0px;
	top:422px;
}
.e40_159 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:58px;
	height:21px;
	position:absolute;
	left:176px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_160 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:176px;
	top:35px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_162 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:11px;
	position:absolute;
	left:179px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_163 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:11px;
	position:absolute;
	left:179px;
	top:37px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_253 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:241px;
	top:11px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_254 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:11px;
	position:absolute;
	left:240px;
	top:13px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_165 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:69px;
}
.40_165 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_166 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:0px;
}
.e40_167 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:37px;
	position:absolute;
	left:86px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:42px;
	height:23px;
	position:absolute;
	left:125px;
	top:31px;
}
.e40_169 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:18px;
	position:absolute;
	left:127px;
	top:33px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e40_98 { 
	width:348px;
	height:31px;
	position:absolute;
	left:24px;
	top:216px;
}
.e40_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:86px;
	height:31px;
	position:absolute;
	left:262px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_31 { 
	color:rgba(0, 0, 0, 1);
	width:244px;
	height:19px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e40_50 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:16px;
	position:absolute;
	left:276px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_99 { 
	width:347px;
	height:99px;
	position:absolute;
	left:19px;
	top:96px;
}
.e40_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:121px;
	height:31px;
	position:absolute;
	left:0px;
	top:60px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:98px;
	height:31px;
	position:absolute;
	left:241px;
	top:60px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:85px;
	height:31px;
	position:absolute;
	left:136px;
	top:60px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e40_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:342px;
	height:40px;
	position:absolute;
	left:5px;
	top:0px;
}
.40_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e40_24 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:300px;
	height:19px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size: 18px;
	letter-spacing:0;
}
.e40_30 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:16px;
	position:absolute;
	left:257px;
	top:67px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e40_29 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:32px;
	position:absolute;
	left:153px;
	top:67px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e62_207 { 
	width:396px;
	height:146px;
	position:absolute;
	left:-3px;
	top:706px;
}
.e62_208 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:75px;
}
.e62_209 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:75px;
}
.62_209 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_210 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:75px;
}
.62_210 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_211 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:75px;
}
.62_211 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_214 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:75px;
}
.62_214 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_215 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:75px;
}
.62_215 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_216 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:75px;
}
.62_216 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e62_220 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:79px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_221 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:75px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_222 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:75px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_223 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:77px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_224 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:77px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e62_225 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:176px;
	height:27px;
	position:absolute;
	left:110px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e62_226 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:16px;
	position:absolute;
	left:142px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e62_314 { 
	width:28px;
	height:27px;
	position:absolute;
	left:66px;
	top:158px;
	background-image:url(images/current_location_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
