.37_7 { 
	overflow:hidden;
}.e37_7 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e55_34 { 
	width:393.0000305175781px;
	height:77px;
	position:absolute;
	left:0px;
	top:127px;
}.e55_41 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:1.0000001192092896px;
}.55_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e55_42 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:77px;
}.55_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e55_43 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:8px;
}.e55_67 { 
	width:393.0000305175781px;
	height:77px;
	position:absolute;
	left:0px;
	top:204px;
}.e55_68 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:1.0000001192092896px;
}.55_68 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e55_69 { 
	transform: rotate(-0.14579047573661175deg);
	width:393.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:77px;
}.55_69 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e55_70 { 
	border-radius:500px;
	background-color:rgba(189.55000162124634, 236.93750202655792, 197.13200837373734, 1);
	width:61px;
	height:61px;
	position:absolute;
	left:19px;
	top:8px;
}.e55_58 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:160px;
	height:47px;
	position:absolute;
	left:94px;
	top:135px;
}.e55_60 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:41px;
	position:absolute;
	left:89px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e55_71 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:41px;
	position:absolute;
	left:89px;
	top:212px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e55_62 { 
	color:rgba(75.0744791328907, 147.68749594688416, 96.07102006673813, 1);
	width:169px;
	height:24px;
	position:absolute;
	left:89px;
	top:164px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e55_72 { 
	color:rgba(75.0744791328907, 147.68749594688416, 96.07102006673813, 1);
	width:169px;
	height:24px;
	position:absolute;
	left:89px;
	top:243px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e62_63 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}.e62_64 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e62_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.62_65 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.62_66 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_67 { 
	background-color:rgba(199.19219702482224, 199.19219702482224, 199.19219702482224, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.62_67 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.62_70 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.62_71 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.62_72 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e62_265 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_266 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_267 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_268 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_269 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_311 { 
	width:54px;
	height:47px;
	position:absolute;
	left:327px;
	top:140px;
	background-image:url(images/favorite_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e62_312 { 
	width:54px;
	height:47px;
	position:absolute;
	left:327px;
	top:219px;
	background-image:url(images/favorite_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}