.87_344 { 
	overflow:hidden;
}.e87_344 { 
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 1);
	width:393px;
	height:852px;
	position:absolute;
}.e87_345 { 
	background-color:rgba(255, 255, 255, 1);
	width:393px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e87_346 { 
	transform: rotate(137.12109729043257deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:25px;
	top:8px;
}.87_346 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_347 { 
	transform: rotate(-140.64406727901456deg);
	width:19.10497283935547px;
	height:0px;
	position:absolute;
	left:26.38616943359375px;
	top:33.55755615234375px;
}.87_347 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_348 { 
	transform: rotate(88.60281901694093deg);
	width:41.01219177246094px;
	height:0px;
	position:absolute;
	left:34px;
	top:0px;
}.87_348 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_349 { 
	color:rgba(0, 0, 0, 1);
	width:301px;
	height:34px;
	position:absolute;
	left:53px;
	top:4px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}.e87_355 { 
	width:396px;
	height:71px;
	position:absolute;
	left:-2px;
	top:781px;
}.e87_356 { 
	background-color:rgba(255, 255, 255, 1);
	width:395px;
	height:71px;
	position:absolute;
	left:1px;
	top:0px;
}.e87_357 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:81px;
	top:0px;
}.87_357 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_358 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
}.87_358 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_359 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:237px;
	top:0px;
}.87_359 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_362 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:79px;
	top:0px;
}.87_362 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_363 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:316px;
	top:0px;
}.87_363 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_364 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:71px;
	position:absolute;
	left:158px;
	top:0px;
}.87_364 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e87_368 { 
	width:68px;
	height:64px;
	position:absolute;
	left:164px;
	top:4px;
	background-image:url(images/calendar__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_369 { 
	width:74px;
	height:71px;
	position:absolute;
	left:319px;
	top:0px;
	background-image:url(images/account__2_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_370 { 
	width:74px;
	height:71px;
	position:absolute;
	left:240px;
	top:0px;
	background-image:url(images/message__3_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_371 { 
	width:75px;
	height:67px;
	position:absolute;
	left:81px;
	top:2px;
	background-image:url(images/babysitter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_372 { 
	width:71px;
	height:67px;
	position:absolute;
	left:4px;
	top:2px;
	background-image:url(images/home__4__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_373 { 
	width:120px;
	height:30px;
	position:absolute;
	left:137px;
	top:700px;
}.e87_374 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}.e87_375 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:29px;
	top:3px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_376 { 
	background-color:rgba(255, 255, 255, 1);
	width:367px;
	height:150px;
	position:absolute;
	left:13px;
	top:510px;
}.e87_377 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:50px;
	position:absolute;
	left:91px;
	top:401px;
}.e87_378 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:24px;
	position:absolute;
	left:61px;
	top:80px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_379 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:24px;
	position:absolute;
	left:22px;
	top:480px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_380 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:24px;
	position:absolute;
	left:26px;
	top:414px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e87_381 { 
	width:350px;
	height:265.2235412597656px;
	position:absolute;
	left:22px;
	top:120px;
	background-image:url(images/november_2022_calendar_b12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_383 { 
	border-radius:500px;
	background-color:rgba(137.00000703334808, 207.00000286102295, 240.00000089406967, 0.6000000238418579);
	width:48px;
	height:40px;
	position:absolute;
	left:26px;
	top:302px;
}